body{
    background-image: url(../img/semente.jpg);
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

.statistic {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

ul {
    list-style: disc;
    padding-left: 1.5rem;
}